<ng-container >
    <div mat-dialog-content >
    <h1 class="center">{{'INTERFACE.TITLE' | translate}}</h1>
                <app-navigate-template [userAccessTokenData]="userAccessTokenData"
                                       [basicClientToken]="basicClientToken"
                                       [datasetDirectory]="datasetDirectory"
                                       [globusEndpoint]="globusEndpoint"
                                       [datasetPid]="datasetPid"
                                       [key]="key"
                                       [siteUrl]="siteUrl"
                                       [selectedEndPoint]="selectedEndPoint">

                </app-navigate-template>
    </div>
</ng-container>
