<ng-container class="interface-container">
    <h1 class="center">Globus</h1>
                <app-navigate-template [userAccessTokenData]="userAccessTokenData"
                                       [basicClientToken]="basicClientToken"
                                       [datasetDirectory]="datasetDirectory"
                                       [globusEndpoint]="globusEndpoint"
                                       [datasetPid]="datasetPid"
                                       [key]="key"
                                       [siteUrl]="siteUrl"
                                       [selectedEndPoint]="selectedEndPoint">

                </app-navigate-template>
</ng-container>
