.center {
    display: flex;
    justify-content: center;
    margin: auto;
}

.mat-action-list {
    justify-content: right;
    max-width: 100%;
}

.only_center {
    justify-content: center;
}

.mat-selection-list {
    max-height: 90%;
    min-height: 30%;
    overflow: auto;
    border: 1px solid #ddd;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.mat-grid-list {
    margin: auto;
    width: 90%;
}

.mat-checkbox {
    margin: auto;
    justify-content: right;
    padding-right: 10px;
}

.table {
    max-height: 550px;
    overflow: auto;
}

.class-icon {
    color: mediumblue;
    padding-right: 10px;
}

.table-left {
    padding-right: 100px;
}

.table-right {
    padding-left: 100px;
}
