.center {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-right: 20px;
    padding-left:20px;
    padding-bottom: 20px;
}
.center-grid {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-right: 20px;
    padding-left:20px;
    padding-bottom: 20px;
    height:600px;
}

.class-icon {
    color: mediumblue;
    padding-right: 10px;
}

.mat-selection-list {
    height: 75%;
    width: 100%;
    overflow: auto;
}

.mat-grid-list {
    height:450px;
    width:100%;
}
