.center {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-right: 20px;
    padding-left:20px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.center-grid {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-right: 20px;
    padding-left:20px;
    padding-top: 10px;

}

.class-icon {
    color: mediumblue;
    padding-right: 10px;
}

.class-icon-folder {
    color: mediumblue;
}

/*.mat-tree {
    height: 75%;
    width: 100%;
    overflow: auto;
}*/

.mat-selection-list {
    height: 75%;
    width: 100%;
    overflow: auto;
}

.mat-form-field {
    height: 100%;
    width: 100%;
}

.mat-grid-list {
    height:500px;
    width:100%;

}



.button-search {
    width: 10%;
    height:100%;
    overflow: auto;
    margin-bottom: 30px;
}

.div-class {
    width:20%;
    padding-left:40%;
    padding-top:10px;
    padding-bottom: 40px;
}

.class-icon-search {
    color: mediumblue;
    padding-right: 10px;
}






