.center {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-right: 20px;
    padding-left:20px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.left {
    padding-left:20px;
}
.center-grid {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-right: 20px;
    padding-left:20px;
    padding-bottom: 20px;
    height:600px;
}

.class-icon {
    color: mediumblue;
    padding-right: 10px;
}

.mat-selection-list {
    height: 700px;
    width: 100%;
    overflow: auto;
}

.mat-grid-list {
    height:500px;
    width:100%;

}

.mat-form-field {
    height: 100%;
    width: 100%;
}
#container {
    display: grid;
    grid: repeat(2, 100%) / auto-flow 50%;
}

#container > div {

    width: 100%;
    height: 100%;
}




