 <div class="center" *ngIf="!accessEndpointFlag && this.load">
     <br>
     <h3 class="center">"{{this.selectedEndPoint.display_name}}" {{'TEMPLATE.ERRORACTIVATION' | translate}}</h3>
 </div>
 <div class="left">
     <mat-form-field *ngIf="selectedDirectory!==null" appearance="fill">
         <mat-label [attr.aria-label]="'TEMPLATE.DIRECTORY' | translate">{{'TEMPLATE.DIRECTORY' | translate}}</mat-label>
         <input type="search" matInput placeholder="'TEMPLATE.DIRECTORY' | translate" value="{{selectedDirectory}}" (keydown.enter)="searchDirectory($event.target.value)" >
         <mat-icon matSuffix>search</mat-icon>
         <mat-hint>{{'TEMPLATE.SEARCH' | translate}}</mat-hint>
     </mat-form-field>
 </div>

<div id="container"  *ngIf="selectedDirectoryExist() && accessEndpointFlag">
    <div>
        <mat-checkbox class="mat-checkbox"
                      [attr.aria-label]="'TEMPLATE.SELECTALL' | translate" #check
                      [checked]="checkFlag"
                      (change)="selectAll($event, directory)">
            {{'TEMPLATE.SELECTALL' | translate}}
        </mat-checkbox>
        <button mat-stroked-button (click)="UpOneFolder()" >
            <mat-icon class="class-icon" matSuffix
                      [attr.aria-label]="'TEMPLATE.UP' | translate">subdirectory_arrow_left
            </mat-icon>
            {{'TEMPLATE.UP' | translate}}
        </button>
    </div>
    <div>
         <cdk-virtual-scroll-viewport itemSize="50" [style.height.px]=5*100>
         <mat-selection-list #directory >
             <h2 matSubheader style="min-width: 250px">{{'TEMPLATE.SUBDIR' | translate}}</h2>
             <mat-list-option  *ngFor="let item of personalDirectories" [value]="item">
                 <mat-icon class="class-icon" matSuffix *ngIf="isFolder(item)">folder</mat-icon>
                 {{item.name}}
             </mat-list-option>
         </mat-selection-list>
         </cdk-virtual-scroll-viewport>
    </div>
    <div>
    <mat-checkbox class="mat-checkbox"
                  [attr.aria-label]="'TEMPLATE.SELECTALL' | translate" #check
                  [checked]="checkFlag"
                  (change)="selectAll($event, directory)">
        {{'TEMPLATE.SELECTALL' | translate}}
    </mat-checkbox>
        </div>
    <div>
        <cdk-virtual-scroll-viewport itemSize="50" [style.height.px]=5*100>
            <mat-selection-list #varCol (selectionChange)="onRemoving($event, directory)">
                <h2 matSubheader>{{'TEMPLATE.SELECTEDFILES' | translate}}</h2>
                <mat-list-option [value]='file' *ngFor="let file of selectedFiles" >
                    <mat-list-item>
                        <mat-icon class="class-icon" matSuffix *ngIf="isFolder(file.fileNameObject)">folder</mat-icon>
                        {{file.fileNameObject.name}}
                    </mat-list-item>
                </mat-list-option>
            </mat-selection-list>
        </cdk-virtual-scroll-viewport>
    </div>
</div>
    <!--<app-upload-file *ngIf="personalConnectExist()"></app-upload-file> -->
<div class="center" *ngIf="selectedDirectoryExist() && accessEndpointFlag" >

        <button mat-stroked-button (click)="onSubmitTransfer()" [disabled]="!preparedForTransfer()">
            <mat-icon class="class-icon"  matSuffix [attr.aria-label]="'TEMPLATE.SUBMIT' | translate">cloud_upload</mat-icon>
            {{'TEMPLATE.SUBMIT' | translate}}
        </button>
 </div>
