.center {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-right: 20px;
    padding-left:20px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.left {
    padding-left:20px;
}
.right {
    padding-right:20px;
}
.center-grid {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-right: 20px;
    padding-left:20px;
    padding-bottom: 20px;
    height:600px;
}

.class-icon {
    color: mediumblue;
    padding-right: 10px;
    padding-left: 10px;
}
.class-header {
    color:darkgrey;
}

.mat-selection-list {
    height: 700px;
    width: 100%;
    overflow: auto;
}

.mat-grid-list {
    height:500px;
    width:100%;

}

.mat-checkbox {
    padding-right: 100px;
}

.b {
    padding-left:100px;
}


.mat-form-field {
    height: 100%;
    width: 100%;
}
#container {
    display: grid;
    /*grid: repeat(2, 100%) / auto-flow 50%;*/
    grid-template-columns: 49% 49%;
    grid-template-rows: 45px 50%;
    column-gap: 10px;
}

.first-row {
    background: lightgray;
}





