<app-endpoint-template (newItemEvent)="setSelectedEndpoint($event)"
                       (loadedEvent)="ifLoaded($event)"
                       [type]="0"
                       [transferData]="dataTransfer"
                        [typeOfTab]="1">
</app-endpoint-template>

<div class="center" *ngIf="!recentlyViewedExist() && load">
    <h3 class="my-translated-paragraph">
        {{'RECENT.ERROR' | translate}}
    </h3>
</div>

<ng-container *ngIf="recentlyViewedExist() && load">
    <app-navigate-template [transferData]="dataTransfer"
                           [selectedEndPoint]="selectedEndPoint">
    </app-navigate-template>
</ng-container>



