<mat-grid-list cols="2" row="1" rowHeight="fit" gutterSize="20px">
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field *ngIf="recentlyViewedExist()" appearance="fill" >
            <mat-label [attr.aria-label]="'RECENT.ENDPOINTS' | translate">
                {{'RECENT.ENDPOINTS' | translate}}
            </mat-label>
            <mat-select [(value)]="selectedEndPoint" (selectionChange)="setSelectedEndpoint($event)" >
                <mat-option *ngFor="let endpoint of recentlyViewedEndpoints" [value]="endpoint">
                    {{endpoint.display_name}}
                </mat-option>
            </mat-select>
        </mat-form-field >
    </mat-grid-tile>
</mat-grid-list>
<div class="center" *ngIf="!recentlyViewedExist() && load">
    <h3 class="my-translated-paragraph">
        {{'RECENT.ERROR' | translate}}
    </h3>
</div>

<ng-container class="interface-container"*ngIf="recentlyViewedExist() && load ">
    <app-navigate-template-download [transferData]="dataTransfer"
                                    [selectedEndPoint]="selectedEndPoint">
    </app-navigate-template-download>
</ng-container>

