<app-interface [redirectURL]="redirectURL" (newItemEvent)="ifLoaded($event)">
</app-interface>

<ng-container class="interface-container" *ngIf="dataTransfer.load">
    <mat-tab-group >
        <mat-tab label="{{'INTERFACE.PERSONAL' | translate}}" [attr.aria-label]="'INTERFACE.PERSONAL' | translate">
            <ng-template matTabContent>
                <app-personal-connect [dataTransfer]="dataTransfer">
                </app-personal-connect>
            </ng-template>
        </mat-tab>
        <mat-tab label="{{'INTERFACE.RECENT' | translate}}" [attr.aria-label]="'INTERFACE.RECENT' | translate">
            <ng-template matTabContent>
                <app-recently-viewed-component [dataTransfer]="dataTransfer">
                </app-recently-viewed-component>
            </ng-template>
        </mat-tab>
        <mat-tab label="{{'INTERFACE.SEARCH' | translate}}" [attr.aria-label]="'INTERFACE.SEARCH' | translate">
            <ng-template matTabContent>
                <app-search-endpoint [dataTransfer]="dataTransfer"
                                     [action]="action">
                </app-search-endpoint>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</ng-container>
