<div class="center">
<mat-form-field  *ngIf="personalConnectExist()" appearance="fill" >
    <mat-label>Personal connect endpoints</mat-label>
    <mat-select [(value)]="selectedEndPont" (selectionChange)="setSelectedEndpoint($event)" >
        <mat-option *ngFor="let endpoint of personalConnectEndpoints" [value]="endpoint">
            {{endpoint.display_name}}
        </mat-option>
    </mat-select>
</mat-form-field >
</div>
<div class="center">

<mat-form-field *ngIf="selectedDirectory!==null" appearance="fill">
    <mat-label>Directory</mat-label>
    <input type="search" matInput placeholder="Directory" value="{{selectedDirectory}}" (keydown.enter)="searchDirectory($event.target.value)" >
    <mat-icon matSuffix>search</mat-icon>
    <mat-hint>Search for Directory</mat-hint>
</mat-form-field>

</div>

<!--<div class="center" *ngIf="preparedForTransfer()"> -->
    <!--
<mat-selection-list #directory  (selectionChange)="onSelection($event, directory.selectedOptions)" >
    <mat-list-option class="mat-action-list" *ngFor="let item of personalDirectories" [value]="item">
        <div  (click)="checkBox($event, item)" (dblclick)="openDirectory($event, item)">
            {{item.name}}
        </div>
    </mat-list-option>
</mat-selection-list>
-->
<p></p>
<p></p>
<div  class="center" *ngIf="preparedForTransfer()" >

    <table >
        <td>
    <table class="table-left">
        <tr>
            <th style="text-align:left">
                <mat-checkbox class="mat-checkbox"  #check  [checked]="checkFlag" (change)="selectAll($event, directory)">Select All</mat-checkbox>
                <button mat-flat-button class="button" (click)="UpOneFolder()" >
                    <mat-icon class="class-icon" matSuffix>subdirectory_arrow_left</mat-icon>
                    Up one folder
                </button>
            </th>
        </tr>
        <div class="table">
        <tr >
            <mat-selection-list #directory  [(ngModel)]="selectedOptions"  (selectionChange)="onSelection($event, directory.selectedOptions)" >

                <h3 matSubheader style="min-width: 250px">Subdirectories and files</h3>
                <mat-list-option  *ngFor="let item of personalDirectories" [value]="item">
                    <mat-list-item color="primary" (click)="checkBox($event, item)" (dblclick)="openDirectory($event, item, directory, check)">
                        <mat-icon class="class-icon" matSuffix *ngIf="isFolder(item)">folder</mat-icon>
                        {{item.name}}
                    </mat-list-item>
                </mat-list-option>
            </mat-selection-list>
        </tr>
        </div>
    </table>
        </td>

        <td>
    <table class="table-right">
        <tr>
            <th style="text-align:left">
                <button class="button" mat-flat-button color="accent" (click)="removeAllFromSelected(directory)">
                    <mat-icon class="class-icon"  matSuffix>remove_circle</mat-icon>
                    Remove All
                </button>
            </th>
        </tr>
        <div class="table">
        <tr>
            <mat-selection-list #varCol (selectionChange)="onRemoving($event, directory)">
                <h3 matSubheader>Selected files and folders</h3>
                <mat-list-option [value]='file' *ngFor="let file of selectedFiles" >

                    <mat-list-item>
                        <mat-icon class="class-icon" matSuffix *ngIf="isFolder(file.fileNameObject)">folder</mat-icon>
                        {{file.fileNameObject.name}}
                    </mat-list-item>
                </mat-list-option>
            </mat-selection-list>
        </tr>
        </div>
    </table>
        </td>
        </table>

</div>
<p></p>
<!--<app-upload-file *ngIf="personalConnectExist()"></app-upload-file> -->
<div class="center" *ngIf="preparedForTransfer()" >

  <button class="button" mat-raised-button (click)="onSubmitTransfer()">
      <mat-icon class="class-icon"  matSuffix>cloud_upload</mat-icon>
      Submit transfer
  </button>
</div>

