.center {
    justify-content: center;
}

.class-icon {
    color: mediumblue;
    padding-right: 10px;
}

.mat-selection-list {
    height: 75%;
    width: 100%;
    overflow: auto;
}

.mat-grid-list-class {
    height:450px;
    width:100%;
}

.mat-grid-list-class2 {
    height: 70px;
    width:100%;
}
