<ng-container >
    <div mat-dialog-content >
        <h1 class="center">Select Directory</h1>
        <mat-grid-list class="mat-grid-list-class" cols="1" rowHeight="fit">
            <mat-grid-tile>
                <mat-grid-tile-header>
                    <button mat-stroked-button (click)="UpOneFolder()" >
                        <mat-icon class="class-icon" matSuffix
                            [attr.aria-label]="'TEMPLATE.UP' | translate">subdirectory_arrow_left
                        </mat-icon>
                        {{'TEMPLATE.UP' | translate}}
                     </button>
                </mat-grid-tile-header>
                <mat-selection-list #directories [multiple]="false">
                    <mat-list-option *ngFor="let item of dirs" [value]="item" >
                        <mat-list-item color="primary"
                                       (dblclick)="openDirectory(item)">
                            <mat-icon class="class-icon" matSuffix>folder</mat-icon>
                            {{item.name}}
                        </mat-list-item>
                    </mat-list-option>
                </mat-selection-list>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div mat-dialog-actions style="margin-top: -40px;" >
        <mat-grid-list class="mat-grid-list-class2" cols="1" rows="2" rowHeight="fit">
            <mat-grid-tile>
            <p>
                Option selected: {{directories.selectedOptions.selected[0]?.value.name}}
            </p>
            </mat-grid-tile>
            <mat-grid-tile>
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="submit(directories.selectedOptions.selected[0]?.value.name)">OK</button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

</ng-container>
